<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>CGU</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />
  </head>
  <body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium magni nobis delectus, animi perferendis illo explicabo hic tempore consequuntur est maiores soluta blanditiis obcaecati, nemo, quod cumque ex sapiente tenetur rerum. Doloremque quisquam libero mollitia beatae, dolor optio illo repellendus. Sequi nemo quas soluta, rerum corrupti ex tempora itaque laboriosam at mollitia magnam eveniet vel iste dignissimos rem culpa saepe amet excepturi autem earum quo! Laudantium nesciunt consequatur quam asperiores vero itaque ut expedita amet praesentium nulla. Ea explicabo fuga iure provident voluptate ab dignissimos eum suscipit. Sed vitae animi, deserunt consectetur nostrum explicabo ut ad ea ratione iusto hic aperiam veritatis ullam est quis optio minus laborum. Facilis voluptatibus exercitationem fugiat optio, suscipit assumenda in tempora autem et voluptates, porro distinctio, impedit quisquam quasi perspiciatis consectetur? Quia inventore eveniet, placeat sapiente quisquam doloremque natus fugit dolores voluptas assumenda. At laboriosam, iusto voluptate non quaerat sit. Cumque non necessitatibus eos perspiciatis! Sint iure tempore possimus suscipit, modi sed recusandae mollitia! Quasi reprehenderit asperiores veritatis! Perferendis, deleniti iusto voluptatum magni placeat esse nam asperiores accusamus odit corporis minus voluptate obcaecati cumque iure, eaque quasi dolorum nobis, molestias vitae ea eveniet modi maxime pariatur sunt. Nostrum sit sed eius explicabo deleniti nobis!</p>
  </body>
</html>
